@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f8fafc;
}

.app-background {
    background-image: url('/assets/mosque.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

